.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.venv/

tests/fixtures/pdfs/*.pdf
!tests/fixtures/pdfs/.gitkeep
!tests/fixtures/pdfs/README.md

data/parsed_json/*.json
!data/parsed_json/.gitkeep

data/validated_json/*.json
!data/validated_json/.gitkeep

data/review_queue/*.json
!data/review_queue/.gitkeep

data/raw_pdfs/*.pdf
!data/raw_pdfs/.gitkeep

